
<a href="#cluster_0_file_name"><button   href="#cluster_0_file_name" onclick="activate2('cluster_0_file_name')" type="button" class="btn btn-secondary">Cluster 0</button></a>
<a href="#cluster_1_file_name"><button   href="#cluster_0_file_name" onclick="activate2('cluster_1_file_name')" type="button" class="btn btn-secondary">Cluster 1</button></a>
<a href="#cluster_2_file_name"><button   href="#cluster_0_file_name" onclick="activate2('cluster_2_file_name')" type="button" class="btn btn-secondary">Cluster 2</button></a>
<!--<a href="#cluster_3_file_name"><button   href="#cluster_0_file_name" onclick="activate2('cluster_3_file_name')" type="button" class="btn btn-secondary">Cluster 3</button></a>
<a href="#cluster_4_file_name"><button   href="#cluster_0_file_name" onclick="activate2('cluster_4_file_name')" type="button" class="btn btn-secondary">Cluster 4</button></a>
<a href="#cluster_5_file_name"><button   href="#cluster_0_file_name" onclick="activate2('cluster_5_file_name')" type="button" class="btn btn-secondary">Cluster 5</button></a>
-->