
 <div class="col-md-12">
                               
                <div style="display:none" id="cluster_0_file_name">
                    <ul class="list-group">
                        <li class="list-group-item active">File names in Cluster 0</li>
                        {% for i in  Cluster_0_fileName.names %}
                            
                            <li class="list-group-item"><a href="http://eng1.mu.edu.tr/~tugba/Pubchem/aid_divided_files/{{i}}"  target="_blank">{{i}}</a></li>

                        {% endfor %}
                    </ul>
                </div>
                <div style="display:none" id="cluster_1_file_name">
                    <ul class="list-group">
                        <li class="list-group-item active">File names in Cluster 1</li>
                        {% for i in  Cluster_1_fileName.names %}
                            <li class="list-group-item"><a  href="http://eng1.mu.edu.tr/~tugba/Pubchem/aid_divided_files/{{i}}"  target="_blank">{{i}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div style="display:none" id="cluster_2_file_name">
                    <li class="list-group-item active">File names in Cluster 2</li>
                    <ul class="list-group">
                        {% for i in  Cluster_2_fileName.names %}
                            <li class="list-group-item"><a  href="http://eng1.mu.edu.tr/~tugba/Pubchem/aid_divided_files/{{i}}"  target="_blank">{{i}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div style="display:none" id="cluster_3_file_name">
                    <li class="list-group-item active">File names in Cluster 3</li>
                    <ul class="list-group">
                        {% for i in  Cluster_3_fileName.names %}
                            <li class="list-group-item"><a  href="http://eng1.mu.edu.tr/~tugba/Pubchem/aid_divided_files/{{i}}"  target="_blank">{{i}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div style="display:none" id="cluster_4_file_name">
                    <li class="list-group-item active">File names in Cluster 4</li>
                    <ul class="list-group">
                        {% for i in  Cluster_4_fileName.names %}
                            <li class="list-group-item"><a href="http://eng1.mu.edu.tr/~tugba/Pubchem/aid_divided_files/{{i}}"  target="_blank">{{i}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div style="display:none" id="cluster_5_file_name">
                    <li class="list-group-item active">File names in Cluster 5</li>
                    <ul class="list-group">
                        {% for i in  Cluster_5_fileName.names %}
                            <li class="list-group-item"><a href="http://eng1.mu.edu.tr/~tugba/Pubchem/aid_divided_files/{{i}}"  target="_blank">{{i}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
</div>


   
