
{% block first_page %}
{% if first_page %}


<div style="text-align:center;margin-top:35px">
<h2>What is PubChem?</2><hr>

<p>PubChem is the world's largest collection of freely accessible chemical information.You can Search chemicals by name, molecular formula, structure, and other identifiers.You can Find chemical and physical properties, biological activities, safety and toxicity information, patents, literature citations and more.
<br><br>
<strong>We  clustered some biological experiments from Pubchem. Lets check it!!</strong></p>
<p> Select type of cluster  from left side </p>


<!--<a style="color=red" href="https://pubchemdocs.ncbi.nlm.nih.gov/about"><span class="btn-text f-bold">Learn More About PubChem</span><svg fill="" viewBox="0 0 24 24" width="2em" height="2em" class="align-middle"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"></path><path d="M0-.25h24v24H0z" fill="none"></path></svg></a>
--></div>
 {% endif %}

{% endblock %}