 <div class="col-md-12">
                               
                    <div style="display:none" id="Cluster_0_top_10_words">
                        <ul class="list-group">
                            <li class="list-group-item active">Top 10 words in Cluster 0</li>
                            {% for i in  Cluster_0 %}
                                
                                <li class="list-group-item">{{i}}</li>

                            {% endfor %}
                        </ul>
                    </div>
                    <div style="display:none" id="Cluster_1_top_10_words">
                        <ul class="list-group">
                            <li class="list-group-item active">Top 10 words in Cluster 1</li>
                            {% for i in  Cluster_1 %}
                                <li class="list-group-item">{{i}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div style="display:none" id="Cluster_2_top_10_words">
                        <li class="list-group-item active">Top 10 words in Cluster 3</li>
                        <ul class="list-group">
                            {% for i in  Cluster_2 %}
                                <li class="list-group-item">{{i}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div style="display:none" id="Cluster_3_top_10_words">
                        <li class="list-group-item active">Top 10 words in Cluster 4</li>
                        <ul class="list-group">
                            {% for i in  Cluster_3 %}
                                <li class="list-group-item">{{i}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div style="display:none" id="Cluster_4_top_10_words">
                        <li class="list-group-item active">Top 10 words in Cluster 4</li>
                        <ul class="list-group">
                            {% for i in  Cluster_4 %}
                                <li class="list-group-item">{{i}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div style="display:none" id="Cluster_5_top_10_words">
                        <li class="list-group-item active">Top 10 words in Cluster 4</li>
                        <ul class="list-group">
                            {% for i in  Cluster_5 %}
                                <li class="list-group-item">{{i}}</li>
                            {% endfor %}
                        </ul>
                    </div>
</div>